@using System.Diagnostics.Eventing.Reader
@model UdemyVideoSite.ViewModels.MovieCustomerListViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Page</h2>


@if (Model.Customers.Count == 0)
{
    <p>There are no Customers! What happened?</p>
}
else{
    <table class="table table-bordered table-hover bg-secondary">
        <thread>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
            </tr>
        </thread>
        <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                
            </tr>
        }
        </tbody>
    </table>
}
<input type="button" class="btn btn-info" value="New Customer" onclick="location.href='@Url.Action("New", "Customers")'" />